.game-board {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin: 1em 0;
}

.game-board .game-board-button {
    width: 60px;
    height: 60px;
    margin: 0 1.25em 1.25em 0;
}

.game-board .game-board-button:nth-child(3n) {
    margin-right: 0;
}